.sidebar{
    flex: 1;
    height: 100%;
    background-color: #F4F4F4;
    position: fixed;
    top: 50px;

}

.sidebar-container{
    padding: 20px;
    color: #333333;
    font-weight: bold;
    border-right: 1px solid;
    border-radius: 10px;
    box-shadow: 1px 5px 5px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 5px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 5px 5px 1px rgba(0,0,0,0.75);
    height: 100%;
    overflow: scroll;
}

.sidebar-menu{
    margin-bottom: 15px;
}

.sidebar-title{
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif;
}

.sidebar-list{
    list-style: none;
    padding: 5px;
}

.sidebar-item{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 5px;
}

.sidebar-list-item.active, .sidebar-list-item:hover{
    background-color: rgb(243, 234, 234);
}