.faq-section{
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.faq-title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 800;
}

.faq-item{
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.faq-question{
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
    color: #007bff;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq-question:focus{
    outline: none;
}

.icon{
    font-size: 1.5rem;
    color: #007bff;
}

.faq-question.active .icon{
    content: "-";
}

.faq-answer{
    padding: 10px;
    font-size: 1.2rem;
    color: #555;
}