@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #fc6011;
  --primary-font-color: #4a4b4d;
  --secondary-font-color: #636464;
  --tertiary-color: #a4a5a8;
  --link-font-color: #0054ff;
  --placeholder-color: #e8e9e9;
  --primary-border-color: #a3a3a3a3;
  --secondary-border-color: #e0e0e0a3;
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  color: inherit;
}
